<% provide(:title, 'Reset password') %>
<h1>Reset password</h1>

<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">


            <div class="row">
                <div class="col-sm-5">

                	<div class="form-box">
                    	<div class="form-top">
                    		<div class="form-top-left">
                    			<h3>New Password</h3>
                    		</div>
                    		<div class="form-top-right">
                    			<i class="fa fa-key"></i>
                    		</div>
                        </div>
                        <div class="form-bottom">
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= hidden_field_tag :email, @user.email %>
      <div class="form-group">
      <%= f.label :password, :class => 'sr-only' %>
      <%= f.password_field :password, :placeholder => 'Password', class: 'form-control' %>
      </div>

      <div class="form-group">
      <%= f.label :password_confirmation, :class => 'sr-only' %>
      <%= f.password_field :password_confirmation, :placeholder => 'Password Confirmation', class: 'form-control' %>
      </div>

      <%= f.submit "Update password", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
