
<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">


            <div class="row">
                <div class="col-sm-5">

                	<div class="form-box">
                    	<div class="form-top">
                    		<div class="form-top-left">
                    			<h3>Log in</h3>
                    		</div>
                    		<div class="form-top-right">
                    			<i class="fa fa-key"></i>
                    		</div>
                        </div>
                        <div class="form-bottom">
		                    <%= form_tag sessions_path, :id=>'login_form', :method => 'post' do %>
		                    	<div class="form-group">
		                    		<%= label_tag(:email, "Email", :class => 'sr-only') %>
		                    		<%= text_field_tag(:email, nil, :placeholder => 'Email', :class => 'form-email form-control') %>
		                    	</div>
								<div class="form-group">
									<%= label_tag(:password, "Password", :class => 'sr-only') %>
		                    		<%= text_field_tag(:password, nil, :placeholder => 'Password', :class => 'form-password form-control') %>
								</div>
		                        <%= button_tag("Log in", :type => 'submit', :class => 'btn') %>
		                    <% end %>
	                    </div>
                    </div>
                </div>

                <div class="col-sm-1 middle-border"></div>
                <div class="col-sm-1"></div>

                <div class="col-sm-5">

                	<div class="form-box">
                		<div class="form-top">
                    		<div class="form-top-left">
                    			<h3>Sign up</h3>
                    		</div>
                    		<div class="form-top-right">
                    			<i class="fa fa-pencil"></i>
                    		</div>
                        </div>
                        <div class="form-bottom">
		                    <%= form_tag users_path, :id=>'login_form', :method => 'post' do %>
		                    	<div class="form-group">
	                    			<%= label_tag(:first_name, "first Name", :class => 'sr-only') %>
	                    			<%= text_field_tag(:first_name, nil, :placeholder => 'First Name', :class => 'form-first-name form-control') %>
		                        </div>
		                        <div class="form-group">
	                    			<%= label_tag(:last_name, "Last Name", :class => 'sr-only') %>
	                    			<%= text_field_tag(:last_name, nil, :placeholder => 'Last Name', :class => 'form-last-name form-control') %>
		                        </div>
		                        <div class="form-group">
	                    			<%= label_tag(:email, "Email", :class => 'sr-only') %>
	                    			<%= text_field_tag(:email, nil, :placeholder => 'Email', :class => 'form-email form-control') %>
	                    		</div>
		                        <div class="form-group">
									<%= label_tag(:password, "Password", :class => 'sr-only') %>
	                    			<%= text_field_tag(:password, nil, :placeholder => 'Password', :class => 'form-password form-control') %>
								</div>
		                        <div class="form-group">
									<%= label_tag(:password, "Confirm Password", :class => 'sr-only') %>
	                    			<%= text_field_tag(:confirm_password, nil, :placeholder => 'Confirm Password', :class => 'form-password form-control') %>
								</div>
		                        <%= button_tag("Sign up", :type => 'submit', :class => 'btn') %>
		                    <% end %>
	                    </div>
                	</div>
                </div>
            </div>
        </div>
    </div>
</div>