<div class="jumbotron" id="landingJumboTron" background="images/Kinnick.jpg">
    <div class="container" background="http://pictures.replayphotos.com/images/IOWA/lg/university-of-iowa-panoramas-automatically-imported-penn-state-v-iowa-iowa-p-auto-00020lg.jpg">
        <div class="featurette">
            <div class="featurette-inner text-center">
                <h1 id="landingMoto">Where Hawkeyes buy and sell tickets</h1>
                <%= form_tag welcome_search_game_path, method: "post", class: "search" do %>
                     <div class="input-group input-group-lg form-inline">
                        <%= text_field_tag :search_game, params[:searh_game], data: { autocomplete: autocomplete_game_name_games_path }, class: "form-control", style: "text-align: center",  placeholder: "Search for Game" %>
                                <span class="input-group-btn">
                            <%= button_tag(type: 'submit', class: "btn btn-primary", :id => "search_game_btn") do %>
                                 <i class="glyphicon glyphicon-search"></i>
                            <% end %>
                             
                                </span>
                     </div>
                <% end %>
                <%= link_to "/#upcomingGames" do %>
                    <i class="glyphicon glyphicon-chevron-down white"></i>
                <% end %>
            </div>
        </div>
    </div>
</div>
<span class="anchor" id="upcomingGames"></span>
<div class="panel panel-default" id="upcomingGamesPanel">
    <div class="panel-heading" id="upcomingGamesHeader">
	    <h3>Upcoming Games</h3>
    </div>
    <div class="container " id="quickTickets">
        <% Game.all.each do |game| %>
            <h2> <%= link_to game.name, game_tickets_path(game.id), :id => "gameid_"+game.id.to_s%>
                <% if currentuser_is_admin? %>
                    <small>
                        <%= link_to "Delete", game_path(game.id), method: 'delete', :data => {confirm: "Are you sure? All tickets will be deleted."}, class: "btn btn-danger"%>
                    </small>
            </h2>
            <% end %>
        <%end%>
    </div>
</div>
