<div class="tickets" id = "ticket_box">
  <h1> <%= @game.name %> </h1>
  <h2> vs. </h2>
  <h1> Iowa Hawkeyes </h1>
  <br><br><br>
  <table class="table table-nonfluid table-condensed table-striped table-bordered table-hover text-centered" id="ticket_table">
    <h4> <%= @game.date.to_date.strftime("%B %d, %Y") + " @ Kinnick Stadium" %> </h4>
    <thead>
      <tr>
        <th style="text-align:center" colspan="1">Seller Name</th>
        <th style="text-align:center" colspan="1">Ticket Type</th>
        <th style="text-align:center" colspan="1">Price</th>
        <th style="text-align:center" colspan="1">Actions</th>
      </tr>
    </thead>
    
    <tbody>
      <% @tickets.each do |ticket| %>
        <% user = User.find_by_id(ticket.user_id) %>
        <tr>
          <td> <%= user.first_name + " " + user.last_name %> </td>
          <td> <%= ticket.ticket_type %> </td>
          <td> $<%= ticket.price %> </td>
          <td> <button type="button" id="buy_button">Buy Me</button></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>