<div class="tickets" id = "ticket_box">
  <h1> <%= @game.name %> </h1>
  <h2> vs. </h2>
  <h1> Iowa Hawkeyes </h1>
  <h4> <%= @game.date.to_date.strftime("%B %d, %Y") + " @ Kinnick Stadium" %> </h4>
  <script id="js">$(function() {
	// initial sort set using sortList option
	$(".table1").tablesorter({
		theme : 'default',
		// sort on the first column and second column in ascending order
		sortList: [[5,0]],
		headers: {
      // disable sorting of the first & second column - before we would have to had made two entries
      // note that "first-name" is a class on the span INSIDE the first column th cell
      '.ticketType, .actionsHeader' : { //add .sellerName to prevent sort by name, remove .ticketType to allow sort by ticket type
                                    //this is especially useful if we add other ticket types, since you can shift-click to select a secondary column sort ie "sort by ticket type, then sort within those groups by price"
        // disable it by setting the property sorter to false
        sorter: false
      }
    }
	});
  });
  </script>

  <span id="sold_tickets">Sold Tickets</span>
  <% sold = Hash.new(0) %>
  <% @soldTickets.each do |ticket| %>
    <% sold[ticket.updated_at]=ticket.price %>
  <% end %>
  <div id="chart"><%= line_chart(sold) %></div>



  <table class="table1 table-nonfluid table-condensed table-striped table-bordered table-hover text-centered" id="ticket_table">
    <span id="for_sale">For Sale</span>
    <thead>
      <tr>
        <th style="text-align:center" class="sellerName" colspan="1">Seller Name</th>
        <th style="text-align:center" class="ticketType" colspan="1">Ticket Type</th>
        <th style="text-align:center" class="section" colspan="1">Section</th>
        <th style="text-align:center" class="row" colspan="1">Row</th>
        <th style="text-align:center" class="seat" colspan="1">Seat</th>
        <th style="text-align:center" colspan="1">Price</th>
        <% if @current_user != nil %>
            <th style="text-align:center" class="actionsHeader" colspan="1">Actions</th>
        <% end %>
        <th style="text-align:center" class="user-rating" colspan="1">User Rating</th>
      </tr>
    </thead>

    <tbody>
      <% if @tickets.count == 0 %>
        <h2> No tickets currently available </h2>
      <% end %>
      <% @tickets.each do |ticket| %>
        <% user = User.find_by_id(ticket.user_id) %>
        <tr>
          <td> <%= user.first_name + " " + user.last_name %> </td>
          <td> <%= ticket.ticket_type %> </td>
          <td> <%= ticket.section %> </td>
          <td> <%= ticket.row %> </td>
          <td> <%= ticket.seat %> </td>
          <td> $<%= '%.02f' % ticket.price %> </td>
          <% if @current_user != nil %>
              <td><%= link_to '<button type="button" id="buy_button">Buy Me</button>'.html_safe, conversations_path(sender_id: @current_user.id, recipient_id: user.id), method: 'post'%></td>
          <% end %>
          <td>
            <% @average_rating = Rating.where(rated_user_id: user.id).average(:value) %>
            <% @rating_count = Rating.where(rated_user_id: user.id).count %>
            <% if @rating_count > 0 %>
              <%= @average_rating.round(1) %>
              (<%= @rating_count %> Ratings)
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>